{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "esmodules": false
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-classes",
    "@babel/plugin-transform-runtime"
  ]
}
