doctype html

html
  head
    title= 'Todo List'
    link(rel='shortcut icon' href='')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i' rel='stylesheet')
  body
    div(is='todo-app')
