doctype html

html
  head
    title= 'Todo List'
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='shortcut icon' href='')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i' rel='stylesheet')

  body
    todo-logo
    todo-app
    footer
      p Meno is an experimental front-end JS library created by #[a(href='https://www.andr.mu')= 'Andrew Wei']. It leverages #[em Web Components], #[em virtual DOM], #[em template engines] and #[em CSS preprocessors].
